* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.titolo {
    color: rgb(223, 75, 99);
    text-align: center;
    margin-top: 30px;
}

.sottotitolo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    height: 100px;
    width: 350px;
    background-color: rgb(3, 3, 73);
}

.immagine {
    float: left;
    height: 100px;
    padding-right: 10px;
}

.nome {
    color: white;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.professione{
    color: white;
    margin-top: 8px;
    margin-bottom: 5px;   
}

.email{
    color: rgb(13, 118, 238);
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1100px;
    margin: 0 auto;  
}

.section {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}